@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Source Sans Pro", system-ui, sans-serif;
    }

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}